@charset "UTF-8";
/**
 *
 * @authors Shoufu (gyming@outlook.com)
 * @date    2016-04-20
 * @version $Id$
 */

 * {
    margin: 0;
    padding: 0;
 }

body {
    position: relative;
    background:rgb(222,222,222);
    width: 100%;
    min-width: 800px;
}

header {
    color: #fff;
    height: 50px;
    background: #262626;
    position: relative;
}

header * {
    display: inline;
}

header img {
    margin: 5px 20px;
}

header h1 {
    position: absolute;
    top: 10px;
}

header nav ul{
    position: absolute;
    top: 17px;
    right: 10px;
    float: right;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 5px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    color:rgb(129, 127, 127);
}

.here {
    color: rgb(129, 127, 127);
}

article {
    margin:20px 440px 20px 20px;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 2px;
    padding: 20px 20px;
    box-shadow: 1px 1px 1px rgb(134, 133, 134);
    background: #fff;
    overflow: hidden;
}

article h2, article h3 {
    padding: 10px 0;
}

.article-meta {
    padding: 5px 0;
}

article p {
    font-size: 14px;
    line-height: 1.5em;
}

article ul {
    margin: 10px;
    list-style: none;
}

article img {
    width: 100%;
    max-width: 600px;
}

figure {
    float: left;
    margin: 10px 5px;
    border: 1px solid rgb(230, 229, 230);
    padding: 15px;
    width: 200px;
}

figure figcaption {
    margin: 0 0 15px;
    width:200px;
    text-align: center;
}

article ol {
    margin: 10px 50px;
    line-height: 1.5em;
}

table {
    border: 2px solid rgb(227, 227, 227);
    width:100%;
    border-collapse: collapse;
    text-align: left;
}

th, tr, td {
    border: 1px solid rgb(227, 227, 227);
    padding: 5px;
}

th {
    color: #fff;
    background-color: #000;
}

tfoot, tfoot th {
    color: #000;
    background-color: rgb(204, 204, 204);
}

aside {
    position: absolute;
    top: 50px;
    right: 0;
    margin:20px;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 2px;
    padding: 20px 20px;
    width: 350px;
    box-shadow: 1px 1px 1px rgb(134, 133, 134);
    background: #fff;

}

aside h2 {
    border-left: 3px solid rgb(197, 197, 197);
    padding: 5px;
}

aside form {
    font-size: 0.8em;
    margin: 10px 0;
}

.title {
    margin: 10px;
    display: inline-block;
    text-align: right;
    width: 35%;
}

aside form p {
    color: rgb(204, 204, 204);
    margin: 10px 0 0 35%;
    padding-left: 25px;
}

textarea {
    margin: 10px 0;
    vertical-align: top;
    width:50%;
    height: 100px;
}

input[type="submit"] {
    color: #fff;
    font-size: 1em;
    display: block;
    margin-top: 10px;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    width:100%;
    background-color: rgb(40, 89, 207);
}

footer {
    color: #fff;
    background-color: #000;
    text-align: center;
    border: 1px solid rgb(164, 164, 164);
    padding: 20px;
    width: 100%;
    height: 20px;
}
